* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #9ACBD0;
}

header {
    background-color: #2973B2;
    color: #F2EFE7;
}

main h2 {
    text-align: center;
    margin-block-end: 2rem;
    font-size: 1.7rem;
}

.container {
    max-width: 1000px;
    padding-block: 32px;
    padding-inline: 16px;
    margin-inline: auto;
}

.loading {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #48A6A7;
    margin: 20px 0;
}

.hidden {
    display: none;
}

footer {
    background-color: #2973B2;
    color: #F2EFE7;
}